*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body{
    font-size: 1.125rem;
    
    
}

.book-page-div{
    width:100%;
    min-height:100vh;
    background: radial-gradient(#4d4d4d,  #000);
}

/* BOOK */

.book-section{
    position:absolute;
    top:20%;
    left:35%;
    width:26%;
    height:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.book-section .book-div{
    position: absolute;
    width:100%;
    height:100%;
    /* box-shadow: 20px 20px 20px rgba(0,0,0,0.2); */
    transform-style: preserve-3d;
    transition: 0.5s;
    transform: rotateY(35deg);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2);
    
}

.book-section .book-div:active{
    transform:rotateY(180deg);
}

.book-section .book-div:before{
    content: " ";
    position: absolute;
    width:60px;
    height:100%;
    transform-origin: left;
    background: url('../imgs/side.jpg');
    background-position: center;
    transform : rotateY(90deg);
}

.book-section .book-div:after{
    content: " ";
    position: absolute;
    width:100%;
    height:100%;
    transform-origin: center;
    background: url('../imgs/back.jpg');
    background-position: center;
    transform : rotateY(180deg) translateZ(60px);
}

/* BOOK COVER FRONT PAGE */

.book-cover-div{
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: 1;
    background:url('../imgs/book_bg_front.jpg');
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
}

.book-cover-div ul{
    position: relative;
    display:flex;
    transform-style: preserve-3d;
    transform: rotate(-25deg) skew(25deg);
}

.book-cover-div ul li{
    position: relative;
    list-style: none;
    width:40px;
    height:40px;
    margin: 0 3px;
    
}

.book-cover-div ul li:before{
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: #2a2a2a;
    transform-origin: top;
    transform: skewX(-41deg);
}

.book-cover-div ul li:after{
    content: " ";
    position: absolute;
    top: 0;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg);
    
}

.book-cover-div ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display:flex !important;
    justify-content: center;
    align-items: center;
    background: #333;
    color: rgba(255,255,255,0.2);
    font-size: 30px !important;
    transition: 0.2s;
    cursor: default;
}

/* IT WORD */

.book-cover-div .it-word{
    position:absolute;
    top:17%;
    width:100%;
    height:30%;
    /* border:1px solid white; */
}

.book-cover-div .it-word ul{
    left:3%;
} 

.book-cover-div .it-word ul li:nth-child(2) span,
.book-cover-div .it-word ul li:nth-child(3) span{
    z-index: 1000;
    transition: 0.5s;
    color:#fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}

.book-cover-div .it-word ul li:nth-child(2) span:nth-child(3),
.book-cover-div .it-word ul li:nth-child(3) span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 1;
}

.book-cover-div .it-word ul li:nth-child(2) span:nth-child(2),
.book-cover-div .it-word ul li:nth-child(3) span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.8;
}

.book-cover-div .it-word ul li:nth-child(2) span:nth-child(1),
.book-cover-div .it-word ul li:nth-child(3) span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: 0.6;
}

.book-cover-div .it-word ul li:nth-child(2) span,
.book-cover-div .it-word ul li:nth-child(3) span{
    background: #3b5999;
}

/* ENDS WORD */

.book-cover-div .ends-word{
    position:absolute;
    top:32%;
    width:100%;
    height:30%;
    /* border:1px solid white; */
}

.book-cover-div .ends-word ul{
    left:5%;
}

.book-cover-div .ends-word ul li:nth-child(2) span,
.book-cover-div .ends-word ul li:nth-child(3) span,
.book-cover-div .ends-word ul li:nth-child(4) span,
.book-cover-div .ends-word ul li:nth-child(5) span{
    z-index: 1000;
    transition: 0.5s;
    color:#fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}

.book-cover-div .ends-word ul li:nth-child(2) span:nth-child(3),
.book-cover-div .ends-word ul li:nth-child(3) span:nth-child(3),
.book-cover-div .ends-word ul li:nth-child(4) span:nth-child(3),
.book-cover-div .ends-word ul li:nth-child(5) span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 1;
}

.book-cover-div .ends-word ul li:nth-child(2) span:nth-child(2),
.book-cover-div .ends-word  ul li:nth-child(3) span:nth-child(2),
.book-cover-div .ends-word  ul li:nth-child(4) span:nth-child(2),
.book-cover-div .ends-word  ul li:nth-child(5) span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.8;
}

.book-cover-div .ends-word  ul li:nth-child(2) span:nth-child(1),
.book-cover-div .ends-word  ul li:nth-child(3) span:nth-child(1),
.book-cover-div .ends-word  ul li:nth-child(4) span:nth-child(1),
.book-cover-div .ends-word  ul li:nth-child(5) span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: 0.6;
}

.book-cover-div .ends-word ul li:nth-child(2) span,
.book-cover-div .ends-word ul li:nth-child(3) span,
.book-cover-div .ends-word ul li:nth-child(4) span,
.book-cover-div .ends-word ul li:nth-child(5) span{
    background: #3b5999;
}

/* WITH WORD */

.book-cover-div .with-word{
    position:absolute;
    top:44%;
    width:100%;
    height:30%;
    /* border:1px solid white; */
}

.book-cover-div .with-word ul{
    left:16%;
}

.book-cover-div .with-word ul li:nth-child(2) span,
.book-cover-div .with-word ul li:nth-child(3) span,
.book-cover-div .with-word ul li:nth-child(4) span,
.book-cover-div .with-word ul li:nth-child(5) span{
    z-index: 1000;
    transition: 0.5s;
    color:#fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}

.book-cover-div .with-word ul li:nth-child(2) span:nth-child(3),
.book-cover-div .with-word ul li:nth-child(3) span:nth-child(3),
.book-cover-div .with-word ul li:nth-child(4) span:nth-child(3),
.book-cover-div .with-word ul li:nth-child(5) span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 1;
}

.book-cover-div .with-word ul li:nth-child(2) span:nth-child(2),
.book-cover-div .with-word  ul li:nth-child(3) span:nth-child(2),
.book-cover-div .with-word  ul li:nth-child(4) span:nth-child(2),
.book-cover-div .with-word  ul li:nth-child(5) span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.8;
}

.book-cover-div .with-word  ul li:nth-child(2) span:nth-child(1),
.book-cover-div .with-word  ul li:nth-child(3) span:nth-child(1),
.book-cover-div .with-word  ul li:nth-child(4) span:nth-child(1),
.book-cover-div .with-word  ul li:nth-child(5) span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: 0.6;
}

.book-cover-div .with-word ul li:nth-child(2) span,
.book-cover-div .with-word ul li:nth-child(3) span,
.book-cover-div .with-word ul li:nth-child(4) span,
.book-cover-div .with-word ul li:nth-child(5) span{
    background: #3b5999;
}

/* US WORD */

.book-cover-div .us-word{
    position:absolute;
    top:52%;
    width:100%;
    height:30%;
    /* border:1px solid white; */
}

.book-cover-div .us-word ul{
    left:40%;
}

.book-cover-div .us-word ul li:nth-child(2) span,
.book-cover-div .us-word ul li:nth-child(3) span{
    z-index: 1000;
    transition: 0.5s;
    color:#fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}

.book-cover-div .us-word ul li:nth-child(2) span:nth-child(3),
.book-cover-div .us-word ul li:nth-child(3) span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 1;
}

.book-cover-div .us-word ul li:nth-child(2) span:nth-child(2),
.book-cover-div .us-word ul li:nth-child(3) span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.8;
}

.book-cover-div .us-word ul li:nth-child(2) span:nth-child(1),
.book-cover-div .us-word ul li:nth-child(3) span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: 0.6;
}

.book-cover-div .us-word ul li:nth-child(2) span,
.book-cover-div .us-word ul li:nth-child(3) span{
    background: #3b5999;
}

/* BOOK PAGES */
.pages-div{
    position:absolute;
    top:10%;
    left:50%;
    display:flex;
    justify-content:center;
    align-items: center;
}
.pages-book-div{
    position:relative;
    width:350px;
    height:500px;
    transition: transform 0.5s;
}

.pages-book-div .paper{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    perspective:1500px;
}

.pages-book-div .paper .front, 
.pages-book-div .paper .back{
    background-color: white;
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    transform-origin: left;
    transition: 0.5s;
}

.pages-book-div .paper .front{
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.pages-book-div .paper .back{
    z-index: 0;
}

.front-content,
.back-content{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content{
    transform: rotateY(180deg);
}

/* paper stack order */

#page-1{
    z-index: 3;
}

#page-2{
    z-index: 2;
}

#page-3{
    z-index: 1;
}

/* paper flipped */
.flipped .front,
.flipped .back{
    transform: rotateY(-180deg);
}

/* buttons */

.prev-btn,
.next-btn{
    border:none;
    background-color: transparent;
    cursor:pointer;
    margin: 10px;
    transition: transform 0.5s;
}

.prev-btn:focus,
.next-btn:focus{
    outline:none;
}

.prev-btn:hover i,
.next-btn:hover i{
    color: #636363;
}

.prev-btn i,
.next-btn i{
    font-size:50px;
    color: gray;
}


/* MOBILE */
@media (max-width: 576px){
    .book-section{
        top:20%;
        left:10%;
        width:90%;
        height:70%;
    }

    .book-cover-div ul li{
        width:35px;
        height:35px;
        margin: 0 3px; 
    }

    .book-cover-div .it-word{
        top:17%;
    }
    
    .book-cover-div .it-word ul{
        left:2%;
    } 

    .book-cover-div .ends-word{
        top:32%;
    }
    
    .book-cover-div .ends-word ul{
        left:5%;
    }

    .book-cover-div .with-word{
        top:43%;
    }
    
    .book-cover-div .with-word ul{
        left:20%;
    }

    .book-cover-div .us-word{
        top:51%;
    }
    
    .book-cover-div .us-word ul{
        left:45%;
    }
}