*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
}

body{
    font-size: 1.125rem;
    
    
}

.book-page-div{
    width:100%;
    min-height:100vh;
    background: radial-gradient(#4d4d4d,  #000);
}

/* BOOK */

.book-section{
    position:absolute;
    top:12%;
    left:38%;
    width:26%;
    height:70%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    perspective: 1000px;
    /* border:1px solid white; */
    /* visibility: hidden; */
    /* transition: 0.5s; */
    /* display:none; */
}

.book-section .book-div{
    position: absolute;
    width:100%;
    height:100%;
    /* box-shadow: 20px 20px 20px rgba(0,0,0,0.2); */
    transform-style: preserve-3d;
    transition: 0.5s;
    transform: rotateY(35deg);
    box-shadow: 0px 20px 20px rgba(0,0,0,0.2);
    
}

.book-section .book-div:active{
    transform:rotateY(180deg);
}

.book-section .book-div:before{
    content: " ";
    position: absolute;
    width:60px;
    height:100%;
    transform-origin: left;
    /* background: #6d6d6d; */
    background: url(../imgs/side.jpg);
    background-position: center;
    background-size: 100% 100%;
    transform : rotateY(90deg);
}

.book-section .book-div:after{
    content: " ";
    position: absolute;
    width:100%;
    height:100%;
    transform-origin: center;
    background: url(../imgs/back.jpg);
    background-size: 100% 100%;
    background-position: center;
    transform : rotateY(180deg) translateZ(60px);
}

/* BOOK COVER FRONT PAGE */

.book-cover-div{
    position:absolute;
    width:100%;
    height:100%;
    object-fit: cover;
    z-index: 1;
    background:url('../imgs/book_bg_front.jpg');
    background-position: center;
    background-size: 100% 100%;
    overflow: hidden;
}

.book-cover-div ul{
    position: relative;
    display:flex;
    transform-style: preserve-3d;
    transform: rotate(-25deg) skew(25deg);
}

.book-cover-div ul li{
    position: relative;
    list-style: none;
    width:40px;
    height:40px;
    margin: 0 3px;
    
}

.book-cover-div ul li:before{
    content: " ";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: #2a2a2a;
    transform-origin: top;
    transform: skewX(-41deg);
}

.book-cover-div ul li:after{
    content: " ";
    position: absolute;
    top: 0;
    left: -9px;
    width: 9px;
    height: 100%;
    background: #2a2a2a;
    transform-origin: right;
    transform: skewY(-49deg);
    
}

.book-cover-div ul li span{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    display:flex !important;
    justify-content: center;
    align-items: center;
    background: #333;
    color: rgba(255,255,255,0.2);
    font-size: 1.5em;
    transition: 0.2s;
    cursor: default;
}

/* IT WORD */

.book-cover-div .it-word{
    position:absolute;
    top:17%;
    width:100%;
    height:10%;
}

.book-cover-div .it-word ul{
    left:3%;
} 

.book-cover-div .it-word ul li:nth-child(2) span,
.book-cover-div .it-word ul li:nth-child(3) span{
    z-index: 1000;
    transition: 0.5s;
    color:#fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}

.book-cover-div .it-word ul li:nth-child(2) span:nth-child(3),
.book-cover-div .it-word ul li:nth-child(3) span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 1;
}

.book-cover-div .it-word ul li:nth-child(2) span:nth-child(2),
.book-cover-div .it-word ul li:nth-child(3) span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.8;
}

.book-cover-div .it-word ul li:nth-child(2) span:nth-child(1),
.book-cover-div .it-word ul li:nth-child(3) span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: 0.6;
}

.book-cover-div .it-word ul li:nth-child(2) span,
.book-cover-div .it-word ul li:nth-child(3) span{
    background: #3b5999;
}

/* ENDS WORD */

.book-cover-div .ends-word{
    position:absolute;
    top:32%;
    width:100%;
    height:30%;
    /* border:1px solid white; */
}

.book-cover-div .ends-word ul{
    left:5%;
}

.book-cover-div .ends-word ul li:nth-child(2) span,
.book-cover-div .ends-word ul li:nth-child(3) span,
.book-cover-div .ends-word ul li:nth-child(4) span,
.book-cover-div .ends-word ul li:nth-child(5) span{
    z-index: 1000;
    transition: 0.5s;
    color:#fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}

.book-cover-div .ends-word ul li:nth-child(2) span:nth-child(3),
.book-cover-div .ends-word ul li:nth-child(3) span:nth-child(3),
.book-cover-div .ends-word ul li:nth-child(4) span:nth-child(3),
.book-cover-div .ends-word ul li:nth-child(5) span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 1;
}

.book-cover-div .ends-word ul li:nth-child(2) span:nth-child(2),
.book-cover-div .ends-word  ul li:nth-child(3) span:nth-child(2),
.book-cover-div .ends-word  ul li:nth-child(4) span:nth-child(2),
.book-cover-div .ends-word  ul li:nth-child(5) span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.8;
}

.book-cover-div .ends-word  ul li:nth-child(2) span:nth-child(1),
.book-cover-div .ends-word  ul li:nth-child(3) span:nth-child(1),
.book-cover-div .ends-word  ul li:nth-child(4) span:nth-child(1),
.book-cover-div .ends-word  ul li:nth-child(5) span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: 0.6;
}

.book-cover-div .ends-word ul li:nth-child(2) span,
.book-cover-div .ends-word ul li:nth-child(3) span,
.book-cover-div .ends-word ul li:nth-child(4) span,
.book-cover-div .ends-word ul li:nth-child(5) span{
    background: #3b5999;
}

/* WITH WORD */

.book-cover-div .with-word{
    position:absolute;
    top:44%;
    width:100%;
    height:30%;
    /* border:1px solid white; */
}

.book-cover-div .with-word ul{
    left:16%;
}

.book-cover-div .with-word ul li:nth-child(2) span,
.book-cover-div .with-word ul li:nth-child(3) span,
.book-cover-div .with-word ul li:nth-child(4) span,
.book-cover-div .with-word ul li:nth-child(5) span{
    z-index: 1000;
    transition: 0.5s;
    color:#fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}

.book-cover-div .with-word ul li:nth-child(2) span:nth-child(3),
.book-cover-div .with-word ul li:nth-child(3) span:nth-child(3),
.book-cover-div .with-word ul li:nth-child(4) span:nth-child(3),
.book-cover-div .with-word ul li:nth-child(5) span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 1;
}

.book-cover-div .with-word ul li:nth-child(2) span:nth-child(2),
.book-cover-div .with-word  ul li:nth-child(3) span:nth-child(2),
.book-cover-div .with-word  ul li:nth-child(4) span:nth-child(2),
.book-cover-div .with-word  ul li:nth-child(5) span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.8;
}

.book-cover-div .with-word  ul li:nth-child(2) span:nth-child(1),
.book-cover-div .with-word  ul li:nth-child(3) span:nth-child(1),
.book-cover-div .with-word  ul li:nth-child(4) span:nth-child(1),
.book-cover-div .with-word  ul li:nth-child(5) span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: 0.6;
}

.book-cover-div .with-word ul li:nth-child(2) span,
.book-cover-div .with-word ul li:nth-child(3) span,
.book-cover-div .with-word ul li:nth-child(4) span,
.book-cover-div .with-word ul li:nth-child(5) span{
    background: #3b5999;
}

/* US WORD */

.book-cover-div .us-word{
    position:absolute;
    top:52%;
    width:100%;
    height:30%;
    /* border:1px solid white; */
}

.book-cover-div .us-word ul{
    left:40%;
}

.book-cover-div .us-word ul li:nth-child(2) span,
.book-cover-div .us-word ul li:nth-child(3) span{
    z-index: 1000;
    transition: 0.5s;
    color:#fff;
    box-shadow: -1px 1px 1px rgba(0,0,0,0.05);
}

.book-cover-div .us-word ul li:nth-child(2) span:nth-child(3),
.book-cover-div .us-word ul li:nth-child(3) span:nth-child(3){
    transform: translate(20px, -20px);
    opacity: 1;
}

.book-cover-div .us-word ul li:nth-child(2) span:nth-child(2),
.book-cover-div .us-word ul li:nth-child(3) span:nth-child(2){
    transform: translate(10px, -10px);
    opacity: 0.8;
}

.book-cover-div .us-word ul li:nth-child(2) span:nth-child(1),
.book-cover-div .us-word ul li:nth-child(3) span:nth-child(1){
    transform: translate(0px, 0px);
    opacity: 0.6;
}

.book-cover-div .us-word ul li:nth-child(2) span,
.book-cover-div .us-word ul li:nth-child(3) span{
    background: #3b5999;
}

/* BOOK PAGES */
.pages-div{
    position:absolute;
    top:10%;
    left:30%;
    display:flex;
    justify-content:center;
    align-items: center;
    visibility: hidden;
    /* display:none; */
}
.pages-div .pages-book-div{
    position:relative;
    width:25vw;
    height:75vh;
    transition: transform 0.5s;
}

.pages-div .pages-book-div .paper{
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    perspective:1500px;
}

.pages-div .pages-book-div .paper .front, 
.pages-div .pages-book-div .paper .back{
    background: white;
    position: absolute;
    width:100%;
    height: 100%;
    top:0;
    left:0;
    transform-origin: left;
    transition: 0.5s;
}

.pages-div .pages-book-div .paper .front{
    z-index: 1;
    backface-visibility: hidden;
    border-left: 3px solid powderblue;
}

.pages-div .pages-book-div .paper .back{
    z-index: 0;
}

.pages-div .pages-book-div .paper .back #p3-back-content img{
    width:100%;
    height:100%;
}

.pages-div .pages-book-div .front-content,
.pages-div .pages-book-div .back-content{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pages-div .pages-book-div .back-content{
    transform: rotateY(180deg);
}

/* paper stack order */

.pages-div .pages-book-div #page-1{
    z-index: 3;
}

.pages-div .pages-book-div #page-2{
    z-index: 2;
}

.pages-div .pages-book-div #page-3{
    z-index: 1;
}

/* paper flipped */
.pages-div .pages-book-div .flipped .front,
.pages-div .pages-book-div .flipped .back{
    transform: rotateY(-180deg);
}

/* buttons */

.pages-div .prev-btn,
.pages-div .next-btn{
    border:none;
    background-color: transparent;
    cursor:pointer;
    margin: 25px;
    transition: transform 0.5s;
}

.pages-div .prev-btn:focus,
.pages-div .next-btn:focus{
    outline:none;
}

.pages-div .prev-btn:hover i,
.pages-div .next-btn:hover i{
    color: #636363;
}

.pages-div .prev-btn i,
.pages-div .next-btn i{
    font-size:50px;
    color: gray;
}

/* OPEN BOOK BUTTON */
.open-book-btn{
    position:absolute;
    bottom:5%;
    left:46%;
    width:10%;
}

.mobile-book{
    display:none;
}

/* PAGES CONTENTS */

.contents-div{
    position: absolute;
    width:100%;
    height:50%;
    border-bottom:1px solid  #a6a6a6;
}

#back_1_div_1{
    top:0;
}

#back_1_div_2{
    top:50%;
}

.contents-div .view_btn{
    position: absolute;
    top:35%;
    left:8%;
    width:84%;
    height:75px;
    margin: 10px 0;
    color: #000;
    font-size: 24px;
    color: #000;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.contents-div .view_btn:hover{
    color: #fff;
}

.contents-div .view_btn:before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background: url(../imgs/view_btn.png);
    background-size: cover;
    transform-origin: left;
    transition: 0.5s;
}

.contents-div .view_btn:hover:before{
    width:100%;
}

.contents-div .view_btn span{
    position: relative;
    z-index: 1;
    pointer-events: none;
}

.contents-div .contents-date{
    position: absolute;
    top:5%;
    left:2%;
    text-transform: uppercase;
    font-family: consolas;
    letter-spacing:5px;
    margin:0;
    padding:0;
    color:transparent;
    font-size: 1rem;
    font-weight: bold;
    display: none;
}

.contents-div .contents-date:before{
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    color: #000;
    overflow: hidden;
    border-right: 1px solid #000;
    white-space: nowrap;
}

.contents-div #back_1_date_1:before{
    animation: type 10s steps(19);
}

.contents-div #back_1_date_2:before{
    animation: type 10s steps(16);
}

@keyframes type{
    0%{
        width:0;
    }
    50%{
        width:100%;
    }
}


/* MOBILE */
@media (max-width: 576px){
    .book-section{
        top:10%;
        left:17%;
        width:80%;
        height:70%;
    }

    /* .book-section .book-div:before{
        width:16%;
        height:100%;
    } */
    
    /* .book-section .book-div:after{
        width:100%;
        height:100%;
        transform : rotateY(180deg) translateZ(25px);
    } */

    .book-cover-div ul li{
        width:30px;
        height:30px;
        margin: 0 3px; 
    }

    .book-cover-div ul li span{
        /* font-size: 0em; */
    }

    .book-cover-div .it-word{
        top:17%;
    }
    
    .book-cover-div .it-word ul{
        left:2%;
    } 

    .book-cover-div .ends-word{
        top:32%;
    }
    
    .book-cover-div .ends-word ul{
        left:5%;
    }

    .book-cover-div .with-word{
        top:43%;
    }
    
    .book-cover-div .with-word ul{
        left:20%;
    }

    .book-cover-div .us-word{
        top:51%;
    }
    
    .book-cover-div .us-word ul{
        left:45%;
    }

    /* BOOK PAGES */
    .pages-div{
        display:none;
    }

    /* MOBILE FLIP BOOK */

    .mobile-book{
        position:absolute;
        top:5%;
        left:5%;
        width:90%;
        height:90%;
        display: block;
        visibility: hidden;
        overflow: hidden;
    }

    .mobile-book .pages-book-div{
        position:absolute;
        width:100%;
        height:90%;
        transition: transform 0.5s;

    }

    .mobile-book .pages-book-div .paper{
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        perspective:1500px;
        
    }

    .mobile-book .pages-book-div .paper .front, 
    .mobile-book .pages-book-div .paper .back{
        background: white;
        position: absolute;
        width:100%;
        height: 100%;
        top:0;
        left:0;
        transform-origin: left;
        transition: 0.5s;
    }

    .mobile-book .pages-book-div .paper .front{
        z-index: 1;
        backface-visibility: hidden;
        border-left: 3px solid powderblue;
    }

    .mobile-book .pages-book-div .paper .back{
        z-index: 0;
    }

    .mobile-book .pages-book-div .paper .back #p3-back-content img{
        width:100.4%;
        height:100%;
    }

    .mobile-book .pages-book-div .front-content,
    .mobile-book .pages-book-div .back-content{
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobile-book .pages-book-div .back-content{
        transform: rotateY(180deg);
    }

    /* paper stack order */

    .mobile-book .pages-book-div #page-1{
        z-index: 3;
    }

    .mobile-book .pages-book-div #page-2{
        z-index: 2;
    }

    .mobile-book .pages-book-div #page-3{
        z-index: 1;
    }

    /* paper flipped */
    .mobile-book .pages-book-div .flipped .front,
    .mobile-book .pages-book-div .flipped .back{
        transform: rotateY(-180deg);
    }

    /* buttons */

    .mobile-book .prev-btn,
    .mobile-book .next-btn{
        position:absolute;
        bottom:-3%;
        border:0;
        background-color: transparent;
        cursor:pointer;
        margin: 25px;
        transition: transform 0.5s;
    }

    .mobile-book .prev-btn{
        left:5%;
    }

    .mobile-book .next-btn{
        right:5%;
    }

    .mobile-book .prev-btn:focus,
    .mobile-book .next-btn:focus{
        outline:none;
    }

    .mobile-book .prev-btn:hover i,
    .mobile-book .next-btn:hover i{
        color: #636363;
    }

    .mobile-book .prev-btn i,
    .mobile-book .next-btn i{
        font-size:50px;
        color: gray;
    }
    

    /* OPEN BOOK BUTTON */
    .open-book-btn{
        bottom:5%;
        left:35%;
        width:30%;
        z-index: 1;
    }

    /* PAGES CONTENTS */
    .contents-date{
        font-size: 0.8rem;
    }
}